<h1 class="heading">AIRPLANES</h1>
<hr/>
<h1 class="sub1">Online Flight bookings with zero booking charges</h1>
<div class="row">
    <div class="col-md-4">
        <h4 toggle-visible class="pull-left sub">From</h4>
        <form role="form">
            <div class="form-group">
                <select class="form-control" id="sel1" ng-model="from_destination" ng-options="option.From as option.From for option in list | unique:'From'">
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-3 img_container">
        <i class="fa fa-exchange exchange" aria-hidden="true"></i>
    </div>
    <div class="col-md-4">
        <h4 toggle-visible class="pull-left sub">To</h4>
        <form role="form">
            <div class="form-group">
                <select class="form-control" id="sel1" ng-model="to_destination" ng-options="option.To as option.To for option in list | unique:'To'">
                </select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4 toggle-visible class="pull-left sub">Date of Journey</h4>
        <form role="form">
            <div class="form-group">
                 <input type="date" id="exampleInput" class="form-control" name="input" ng-model="date.value"
       placeholder="yyyy-MM-dd" required />
            </div>
        </form>
    </div>
     <div class="col-md-3 img_container">
    </div>
    <div class="col-md-4">
        <h4 toggle-visible class="pull-left sub">No.of Seats</h4>
        <form role="form">
            <div class="form-group">
              <input type="text" ng-model="seats" class="form-control" />
            </div>
        </form>
    </div>
</div>
<a href="#/flight-display" class="btn btn-primary">Get Flights</a>